
.navbar{
   /* background-color: #A7A7A7 !important; */
  /* background-color: #6D5D4B !important; */
  background-color: var(--colorEncabezado) !important;
  border-radius: 4px;
  --bs-navbar-brand-color: var(--colorTextoEncabezado);
  --bs-navbar-brand-hover-color: var(--colorTextoEncabezado);
}

.nav-link{
  --bs-nav-link-color: var(--colorTextoEncabezado);
  --bs-nav-link-hover-color: var(--colorTextoEncabezado);
}

.titulo{
  font-weight: 600;
  font-size: 40px;
  color: var(--colorTextoUno);
  text-align: center;
}

.titulo-secundario{
  font-weight: 600;
  font-size: 24px;
  color: var(--colorTextoUno);
  text-align: center;
}

.titulo-seccion{
  font-weight: 600;
  font-size: 32px;
  color: var(--colorTextoUno);
  text-align: center;
}

.descripcion-titulo{
  font-weight: 400;
  font-size: 18px;
  color: var(--colorTextoUno);
  white-space: break-spaces;
  text-align: center;
}



.pie-de-pagina{
  width: 100%;
  min-height: 100px;
  background-color: var(--colorTextoUno);
}

.derecho-reservado{
  color: var(--colorTextoUno);
}

.foto-personal{
  object-fit: none;
  max-height: 500px;
  width: inherit;
  object-position: 20vw -20px;
  margin-top: -25px;
}

.foto-personal-secundario{
  object-fit: none;
  height: 100%;
  max-height: 500px;
  /* object-position: -23vw -30px; */
  object-position: center -20px;
  width: 100%;
}

/* Classes proyectos  */

.cuadro-proyecto {
  position: relative;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  border-radius: 20px;
}

.cuadro-proyecto img {
  transition: transform 0.5s ease-in-out;
}

.cuadro-proyecto:hover img {
  transform: scale(1.1);
}

.cuadro-proyecto:hover .informacion-proyecto {
  opacity: 1;
}

.informacion-proyecto{
  display: grid;
  grid-template-rows: 75px auto 25px;
  gap: 10px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.7); */
  background-color: rgb(29, 33, 37, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;

}

.titulo-proyecto{
  color: var(--colorTextoTres);
  font-size: 24px;
  font-weight: 600;
}

.descripcion-proyecto{
  color: var(--colorTextoTres);
  font-size: 14px;
  font-weight: 400;
}

.etiquetas-proyectos .etiqueta {
  background-color: #A7A7A7;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  color: var(--colorTextoUno);
  font-size: 12px;
  font-weight: 400;
}


/* Classes herramientas  */

.cuadro-habilidad{
  width: 100%;
  border-radius: 20px;
  min-height: 80px;
  overflow: hidden;
  /* background-color: #a7a7a7; */
  background-color: var(--colorFondoCardSecundario);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: box-shadow 0.3s ease-in-out;
}

.cuadro-habilidad:hover{
  box-shadow: 4px 4px 10px rgb(0 0 0 / 50%);
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
}

.punto-nivel{
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 50%;
}

.titulo-habilidad{
  color: var(--colorTextoCardSecundario);
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.descripcion-habilidad{
  color: var(--colorTextoCardSecundario);
  font-size: 14px;
  font-weight: 400;
}

.cuadro-habilidad.blandas{
  width: 100%;
  border-radius: 16px;
  min-height: 200px;
  overflow: hidden;

  /* background-color: #f4f1eb; */
  background-color: var(--colorFondoCardPrincipal);
  cursor: default !important;
  box-shadow: none !important;
}


.cuadro-habilidad.blandas .titulo-habilidad{
  color: var(--colorTextoCardPrincipal);
}

.cuadro-habilidad.blandas .descripcion-habilidad{
  color: var(--colorTextoCardPrincipal);
}


/* Classes experiencia  */

.cuadro-experencia{
  display: flex;
  align-items: center;
  /* background: #f4f1eb; */
  /* background-color: #D4C8B8; */
  background-color: var(--colorFondoCardPrincipal);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  /* width: 60%; */
  width: 100%;
}

.experencia-logo img {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}


.experencia-contenido{
  text-align: left;
}

.experencia-contenido .titulo-encargado {
  color: var(--colorTextoCardPrincipal);
  font-size: 22px;
  font-weight: 600;
}

.experencia-contenido .informacion-empresa {
  color: var(--colorTextoCardPrincipal);
  font-size: 14px;
  font-weight: 400;
}

/* Cuadro escuelas */

.cuadro-educacion{
  display: flex;
  align-items: center;
  /* background: #f4f1eb; */
  background-color: var(--colorFondoCardPrincipal);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.educacion-logo img {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}


.educacion-contenido{
  text-align: left;
}

.educacion-contenido .titulo-encargado {
  color: var(--colorTextoCardPrincipal);
  font-size: 20px;
  font-weight: 600;
}

.educacion-contenido .informacion-empresa {
  color: var(--colorTextoCardPrincipal);
  font-size: 14px;
  font-weight: 400;
}

/* Cuadro cursos */

.cuadro-cursos{
  width: 100%;
  border-radius: 20px;
  min-height: 120px;
  overflow: hidden;
  /* background-color: #a7a7a7; */
  background-color: var(--colorFondoCardSecundario);
  display: flex;
  justify-content: center;
  /* align-items: center;*/
  flex-direction: column;
  transition: box-shadow 0.3s ease-in-out;
}

.cuadro-cursos:hover{
  box-shadow: 4px 4px 10px rgb(0 0 0 / 50%);
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
}

.titulo-curso{
  color: var(--colorTextoCardSecundario);
  font-size: 20px;
  font-weight: 600;
}

.descripcion-curso{
  color: var(--colorTextoCardSecundario);
  font-size: 16px;
  font-weight: 400;
}


/* Classes divisor  */

.pacman-section {
  position: relative;
}

#pacman {
  position: absolute;
  /* top: 50px; */ /* Ajusta según lo que prefieras */
  width: 50px;
  height: 50px;
}

/* .dot {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  position: fixed;
  top: 75px;
} */

#dots-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Espacio entre los puntos */
  position: absolute;
  top: 10px; /* Debe alinearse con Pac-Man */
  left: 0;
  width: 100%;
  padding: 0 20px; /* Padding opcional para evitar que los puntos se peguen a los bordes */
}

.dot {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
}

.texto-pie{
  color: var(--colorTextoEncabezado);
  font-size: 18px;
  font-weight: 400;
}

.contacto-hiper{
  color: var(--colorTextoEncabezado);
  font-size: 16px;
  font-weight: 400;
  text-decoration-line: underline;
  cursor: pointer;
}

@media (min-width: 576px) {
  .foto-personal-secundario{
    object-fit: none;
    height: 100%;
    max-height: 500px;
    object-position: -25vw -30px;
    width: 100%;
  }

  .cuadro-experencia{
    width: 80%;
  }
}

@media (min-width: 768px) {
  .cuadro-experencia{
    width: 65%;
  }

  .descripcion-titulo{
    padding-right: 50px;
    text-align: start;
  }
}