  <header id="acercaDeMi" class="row m-0">
    <div class="col-12 p-0">
      <nav class="navbar navbar-expand-lg bg-body-tertiary w-100" style="position: fixed; z-index: 1;">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            
          </a>
          <a class="navbar-brand" href="#acercaDeMi">{{ 'menu.acercaDe' | translate}}</a>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link" href="#experiencia">{{ 'menu.experiencia' | translate}}</a>
              <a class="nav-link" href="#herramientas">{{ 'menu.herramientras' | translate}}</a>
              <!-- <a class="nav-link" href="#proyectos">{{ 'menu.proyectos' | translate}}</a> -->
              <a class="nav-link" href="#educacion">{{ 'menu.educacion' | translate}}</a>
              <a class="nav-link" href="assets/docs/Fernando_Galindo_CV.pdf" download="Fernando_Galindo_CV.pdf" target="_blank">{{ 'menu.cv' | translate}}</a>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <section id="acercaDeMi">
    <div class="container-xl" style="margin-top: 85px;">
      <div class="row" style="position: relative;">
        <div class="col-md-5 col-sm-6 col-12">
          <p class="titulo">
            {{ 'titulos.acercaDe' | translate}}
          </p>
          <p class="titulo-secundario">
          {{ 'acercaDeMi.desarrollador' | translate}}
          </p>
          <p class="descripcion-titulo">{{ 'acercaDeMi.descripcion' | translate}}  
          </p>
        </div>
        <div class="col-sm-6 col-12 d-md-none d-block p-0">
          <img src="assets/img/fotouwu_4.png" class="foto-personal-secundario" alt="Foto de presentación" srcset="">
        </div>
        <div class="col-7 d-md-block d-none" >
          <img src="assets/img/8ae0d6ab-9b76-423d-ba21-5c3c48ca04c8 1.png" alt="" srcset="" style=" height: 100%; width: 100%; object-fit: none; object-position: top; border-radius: 20px;">
        </div>
        <div class="col-12 d-md-block d-none" style="position: absolute;">
          <img src="assets/img/fotouwu_4.png" class="foto-personal" alt="Foto de presentación" srcset="">
        </div>
      </div>
    </div>
  </section>
  <!-- <section id="separador">
    <div class="container-xl pacman-section" style="min-height: 75px;">
      <img src="assets/img/pacman.gif" alt="Pacman" id="pacman">
      <div id="dots-container-xl"></div>
    </div>
  </section> -->
  <section id="experiencia">
    <div class="container-xl" style="margin-top: 85px;">
      <div class="row">
        <div class="col-12 titulo-seccion">
          {{ 'titulos.experiencia' | translate}}
        </div>
        <div class="col-12 mt-3">
          <div class="row m-0">
            <div class="col-12 d-flex justify-content-center mb-3" *ngFor="let experiencia of listaExperiencia">
              <div class="cuadro-experencia">
                <div class="experencia-logo">
                  <img [src]="experiencia.logo" alt="Empresa 1">
                </div>
                <div class="experencia-contenido">
                  <div class="titulo-encargado mb-2">{{experiencia.encargo | translate}}</div>
                  <p class="informacion-empresa">{{experiencia.empresa | translate}} - {{experiencia.fecha | translate}}</p>
                  <span class="informacion-empresa">{{experiencia.tareas | translate}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="herramientas">
    <div class="container-xl mt-2">
      <div class="row">
        <div class="col-12 titulo-seccion">
          {{ 'titulos.herramientas' | translate}}
        </div>
        <div class="col-12 mt-3">
          <div class="row">
            <div class="col-sm-6 col-12" *ngFor="let desarrollo of listaDesarrollo">
              <div class="row">
                <div class="col-12 mt-3 titulo-secundario text-center">
                  {{ desarrollo.titulo | translate }}
                </div>
                <div class="row">
                  <div class="col-lg-3 col-md-4 col-sm-6 col-4 mt-2 " *ngFor="let lenguaje of desarrollo.lenguajes">
                    <div class="cuadro-habilidad" [matTooltip]="lenguaje.nivel == 'true' ? 'Experiencia trabajando con '+lenguaje.titulo : 'Conocimientos Básico en '+lenguaje.titulo" matTooltipPosition="above">
                      <div class="d-flex justify-content-center align-items-center w-100">
                        <mat-icon class="vista-icon-habilidades" [ngClass]="lenguaje.icono"></mat-icon>
                        <div class="punto-nivel ms-2" [ngStyle]="{'background-color': lenguaje.nivel == 'true' ? '#27AE60' : '#E67E22'}"></div>
                      </div>
                      <div class="titulo-habilidad mt-1">
                        {{ lenguaje.titulo | translate }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 mt-3 titulo-secundario text-center">
              {{ 'titulos.habilidades' | translate }}
            </div>
            <div class="col-md-4 col-sm-6 col-12 px-sm-2 px-5" *ngFor="let habilidades of listaHabilidades">
              <div class="cuadro-habilidad blandas py-2 px-3" [ngStyle]="{'background-color': habilidades.background}">
                <div class="titulo-habilidad d-flex align-items-center w-100 justify-content-between">
                  {{ habilidades.titulo | translate }}
                  <mat-icon class="icon-habilidades" [ngClass]="habilidades.icono"></mat-icon>
                </div>
                <div class="descripcion-habilidad mt-2">
                  {{ habilidades.descripcion | translate }}
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="educacion">
    <div class="container-xl mt-2">
      <div class="row">
        <div class="col-12 titulo-seccion">
          {{ 'titulos.educacion' | translate}}
        </div>
        <div class="col-12 mt-3">
          <div class="row">
            <div class="col-md-6 col-12 mb-3" *ngFor="let titulos of listaTitulos">
              <div class="cuadro-educacion">
                <div class="educacion-logo">
                  <img [src]="titulos.logo" alt="Empresa 1">
                </div>
                <div class="educacion-contenido">
                  <div class="titulo-encargado mb-2">{{titulos.escuela | translate}}</div>
                  <span class="informacion-empresa">{{titulos.titulo | translate}} - {{titulos.fecha | translate}}</span>
                </div>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-12 mt-3 titulo-secundario text-center">
              {{ 'titulos.cursos' | translate }}
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 p-sm-2 px-5" *ngFor="let cursos of listaCursos">
              <div class="cuadro-cursos px-3 py-2" (click)="abrirCurso(cursos.doc)" >
                <div class="titulo-curso d-flex justify-content-between">
                  {{ cursos.escuela | translate }}
                  <mat-icon class="vista-icon-cursos" [ngClass]="cursos.logo"></mat-icon>
                </div>
                <div class="descripcion-curso text-center mt-3">
                  {{ cursos.titulo | translate }}
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  


  <footer class="pie-de-pagina py-4 mt-4">
    <div class="container-xl">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-12">
          <div class="contactos texto-pie">
            Contactos
          </div>
          <div class="lista-contactos">
            <ul class="list-unstyled">
              <li class="contacto-hiper" href="https://www.linkedin.com/in/fernando-enrique-galindo-jimenez-15677b234" target="_blank">Perfil GitHub</li>
              <li class="contacto-hiper" href="https://github.com/Fernando-Kuma" target="_blank">Perfil Linkedin</li>
              <li class="contacto-hiper" (click)="contactoCorreo()">Enviar correo</li>
              <!-- <li class="contacto-hiper" href="https://www.linkedin.com/in/fernando-enrique-galindo-jimenez-15677b234" target="_blank"></li> -->
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-12 text-end">
          <p class="contacto-hiper" href="#acercaDeMi">Inicio</p>
          <p class="texto-pie">© Fernando Galindo -  {{anioActual}}</p>
        </div>
      </div>
    </div>
  </footer>
